{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block head %}
{{ parent() }}
{% block stylesheets %}
{{ parent() }}
            <link href="{{ asset('/css/form.css') }}" rel="stylesheet" />
        {% endblock %}
{% endblock %}


{% block body %}
    {{ form_start(registrationForm) }}
    <h1>Rejoindre la MeubliTeam !</h1>
        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.ville_id) }}
        <div>
        <label for="ville_id">Ville</label>
        <input type="text" id="input_ville_name" />
            <select name="ville_id" id="result"></select>
        </div>
        {{ form_row(registrationForm.avatar, {'id':'avatar-form'}) }}
        <div class="align">
        {% for item in avatars %}
            <img src="{{ asset('/img/avatar/' ~ item.src ~ '.svg') }}" alt="{{ item.nom }}" class="avatar" id="avatar-{{ item.id }}" onclick="change_avatar(this.id)">
        {% endfor %}
        </div>
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}


{% block javascripts %}
    <script>
        function change_avatar(id) {
            $('#avatar-form').val(id.replace('avatar-', ''));
            $('.avatar').removeClass('avatar-selected');
            $('#' + id).addClass('avatar-selected');
        }

        $('#input_ville_name').keyup(function () {
            if ($('#input_ville_name').val() == '') {
                $('#result').css('display', 'none');
            } else {
                $('#result').css('display', 'block');
                searchbar($('#input_ville_name').val());
            }
        })

        $('#result').on('change', function () {
            $('#registration_form_ville_id').val($('#result').val());
            $('#input_ville_name').val($('#result option:selected').text());
            $('#result').css('display', 'none');
        })

        function searchbar(input) {
            $.getJSON( "ressources/france.json", function( data ) {
            var suggestions = [];
            var i = 0;
            suggestions.push( "<option>Choisissez votre ville</option>" );
            $.each( data, function( key, val ) {
                if (i <= 9 && val['Nom_commune'].toLowerCase().indexOf(input.toLowerCase()) != -1) {
                    suggestions.push( "<option value='" + val['Code_commune_INSEE'] + "'>" + val['Nom_commune'] + ' (' + val['Code_commune_INSEE'] + ")</option>" );
                    i++;
                } else {
                    return;
                }
            });
            $('#result').html(suggestions.join( "" ));
            });
        }
    </script>
{% endblock %}


{% endblock %}