{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block head %}
{{ parent() }}
    {% block stylesheets %}
        {{ parent() }}
        <link href="{{ asset('/css/profil.css') }}" rel="stylesheet" />
    {% endblock %}
{% endblock %}

{% block body %}
    <div style="max-width: 2000px;width:80%">
        <div class="banner" style="background: url('{{ asset('img/bannieres/annonces.jpg') }}'); background-size:cover;background-position: center;"><h1>Liste des annonces</h1></div>
        <div class="filters-container">
        <h3>Filtres de recherche</h3>
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="form-number">
                {{ form_row(form.prix_min, {'attr': {'oninput': '$("#prix_value").html(this.value+"€")', 'placeholder': '0€'}}) }}
                {{ form_row(form.prix_max, {'attr': {'oninput': '$("#prix_value").html(this.value+"€")', 'placeholder': '1000€'}}) }}
            </div>
            <div class="align-cat">
                {% for tag_cat in tag_category %}
                    <div class="tag-cat">
                        <a class="cat_titre">{{ tag_cat.nom }}</a>
                        <div class="align">
                        {% for tag in tag_cat.tags %}
                             <div class="pretty p-switch p-fill checkbox">
                             {% if tag.id in array_selected_tags %}
                                <input name="check-{{ tag.id }}" type="checkbox" checked/>
                                {% else %}
                                <input name="check-{{ tag.id }}" type="checkbox"  />
                             {% endif %}
                                <div class="state p-warning">
                                    <label>{{ tag.nom }}</label>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                
            </div>
            {{ form_row(form.appliquer, {'attr': {'class': 'btn'}}) }}
        {{ form_end(form) }}
        </div>
        <div class="align">
        {% for item in annonces %}
            {% set test = false %}
            {% for tag in item.tag1 %}
                {% if (tag.id in array_selected_tags or array_selected_tags|length == 0) and test == false %}
                {% set test = true %}
                <div class="annonce-item" id="{{ item.id }}">
                    {% for image in item.images_ %}
                    <div class="annonce-images">
                            {% for key, value in image %}
                                {% if key == "image1" %}
                                    <div class="image-principale" style="background: url('/img/annonces/{{ value.src }}.png');background-size:cover;" /></div>
                                {% endif %}
                            {% endfor %}
                        <div class="images-secondaires">
                            {% for key, value in image %}
                                {% if key != "image1" %}
                                    <div style="background: url('/img/annonces/{{ value.src }}.png');background-size:cover;" /></div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                <h2>{{ item.titre }}</h2>
                <div class="tags">
                {% for tag in item.tag1 %}
                    <a class="tag">{{ tag.nom }}</a>
                {% endfor %}
                </div>
                <a class="text-icone"><img class="icone" src="{{ asset('img/icones/user.png') }}" >Vendeur : {{ item.vendeur.pseudo }}</a>
                <p class="description">{{ item.description }}</p>
                <a class="btn" href="/annonce/{{ item.id }}">Voir l'annonce</a>
            </div>
            {% endif %}
        {% endfor %}
        {% endfor %}
        </div>
    </div>

    {% block javascripts %}
        <script>
            //$(".tag-item").click(function(){
            //    $(this).toggleClass("tag-selected");
            //});
        </script>
    {% endblock %}

{% endblock %}